:root {
  --item-width: 512px;
  --gap: 2px;
  /* --width: 50vw; */
  --width: 100%;
  --cols: 2;
  --size: calc(var(--width) / var(--cols) - var(--gap));
  /* --header-height: 75px; */
  --header-height: 0px;

  --color-text: white;
  --color-neutral: rgba(255, 255, 255, 0.25);
  --accent1: rgb(125, 0, 255);
  --accent2: black;
}

@media (orientation: portrait) {
  :root {
    --width: 100%;
  }
}

@font-face {
  font-family: "Helvetica Rounded";
  src: url("assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf") format("opentype");
}

body {
  font-family: "Helvetica Rounded";
  margin: 0;
  padding: var(--gap);
  /* background-color: red; */
  background-color: black;
}

main {
  margin: 0 auto;
  width: var(--width);
  position: relative;
  padding-top: var(--header-height);
}

#section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 15px;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

#header::before {
  border-top: calc(var(--gap) * 5) solid rgba(125, 0, 255);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#header {
  visibility: hidden;

  box-sizing: border-box;
  border-bottom: 1px solid var(--color-neutral);

  padding-top: calc(var(--gap) * 5);
  margin: 0 auto;
  width: calc(var(--width));

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-around;

  backdrop-filter: blur(5px);
}

@media (orientation: portrait) {
  #header::before {
    left: calc(-1 * var(--gap));
    right: calc(-1 * var(--gap));
  }
  #header {
    width: calc(var(--width) - var(--gap) * 2);
  }
}

.header-button {
  display: flex;
  color: var(--color-text);
  background-color: var(--accent2);
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#Grid {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#Grid.no-touch {
  touch-action: none;
}

#Grid:hover-inside {
}

.grid-header {
  margin: 0 auto;
  z-index: 1;
  position: sticky;
  top: 0px;

  display: flex;
  gap: var(--gap);

  background-color: white;
}

.grid-footer {
  margin: 0 auto;
  z-index: 1;
  position: sticky;
  bottom: -1px;

  display: flex;
  gap: var(--gap);
}

.button {
  display: block;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--accent2);
  /* background-color: var(--color-text); */
  --size: 2em;
  width: var(--size);
  height: var(--size);
  text-align: center;
  line-height: var(--size);
  user-select: none;
  transition: color 0.5s, background-color 0.5s;
}

.button:hover {
  color: var(--accent2);
  background-color: var(--color-text);
}

.button:active {
  transition-duration: 0.15s;
  color: var(--color-neutral);
  background-color: var(--color-neutral);
}

.label {
  color: var(--color-text);
  background-color: var(--accent2);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.1em;
  max-width: 100%;

  white-space: nowrap;
}

.image-preview-container {
  top: 0;
  left: 0;
  /* position: absolute; */

  z-index: 2;

  position: fixed;
  width: 100%;
  height: 100vh;

  /* width: 1000px; */
  aspect-ratio: 1 / 1;

  /* transform: scale(0); */
  /* transition: transform 0.2s; */
  background-color: white;
}

.image-preview {
  width: 1024px;
  height: 1024px;
  /* background-color: var(--accent2); */
  position: absolute;
  display: block;
  object-fit: cover;
  /* aspect-ratio: 1 / 1; */
  transform-origin: left top;
  /* background-color: white; */
  background-size: cover;
  background-position: center;
}

.image-preview img {
  /* background-color: var(--accent2); */
  /* position: absolute; */
  display: block;
  object-fit: cover;

  white-space: pre-wrap;
  overflow-wrap: break-word;

  min-width: 0;

  /* width: 50%;
  height: 50%; */
  --border: 0px;
  width: calc(100% - calc(var(--border) * 2));
  height: calc(100% - calc(var(--border) * 2));
  margin: var(--border);

  background-color: black;
}

.scale-fade-in {
  animation: scale-fade-in 0.3s;
}

.scale-in {
  animation: scale-in 0.3s;
}

.fade-in {
  animation: fade-in 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 
.fade-in:not(.visible) {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 0.2s;
  opacity: 1;
}

.scale-in:not(.visible) {
  transform: scale(0);
}
.scale-in.visible {
  transition: transform 0.2s;
  transform: scale(1);
}

.scale-fade-in:not(.visible) {
  transform: scale(0);
  opacity: 0;
}
.scale-fade-in.visible {
  transition: opacity 0.3s, transform 0.2s;
  transform: scale(1);
  opacity: 1;
} */

/* @media (orientation: portrait) {
  .image-preview {
     overflow: hidden;
  }
} */

.loading-animation {
  transform-origin: left top;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  background-color: rgba(125, 0, 255);
  border: 1px solid var(--color-text);
  position: absolute;
  right: 5%;
  bottom: 5%;

  opacity: 0;
  transition: opacity 0.5s;
  animation: wave 0.5s infinite alternate ease-in;
  animation-delay: calc(var(--item_index) * -1s / (var(--cols) + 1));
}

/* .image-preview-container:hover .image-preview-overlay {
  opacity: 1;
} */
/* .image-preview-overlay.show,
.image-preview-overlay.always-show {
  opacity: 1;
  pointer-events: all;
} */

.image-preview-overlay:not(.always-show) {
  outline: none;
}

/* .image-preview-container:hover .image-preview-overlay  {
  transition: opacity 0.5s;
  opacity: 1;
} */

.image-preview-overlay {
  height: 100%;
  /* position: absolute; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  /* pointer-events: none; */
  /* opacity: 0; */

  /* max-width: calc(var(--item-width) - var(--gap)); */
}

.image-preview-dimensions {
  position: absolute;
  bottom: 0;
  left: 0;
}

.loading-animation.active {
  /* display: block; */
  opacity: 1;
}

@keyframes wave {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
